/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {    
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*---------------------------INDEX.HTML------------------------------------*/
/*----------------------------------------------------------------------------
    Base
    Règles génériques de base pouvant être appliquée partout (body, a, h1-h7, etc.)
----------------------------------------------------------------------------*/
body{
    font-family:"Nunito Sans", sans-serif; 
}
h1{
    font-family: "Playfair Display", serif;
    font-weight:500 ;
    font-size: 36px;
    color: white;

    display: flex;
    align-items: center;

    margin: 0;
}
h2{
    margin-top: 0;
    padding-top: 55px;

    font-family: "Playfair Display", serif;
    font-size: 3.6rem;
    font-weight: 600;
    text-transform: uppercase;
}
h3{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2.4rem;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
h6{
    font-size: 2.0rem;
    color: black;
    font-family: "Playfair Display", serif;
    font-weight: bold;

    margin: 0;
    padding-top: 10px;
}
h5{
    font-size: 3.0rem;
    font-family: "Playfair Display", serif;
    color: black;
    font-weight: bold;
    
}
/*----------------------------------------------------------------------------
                                HEADER
----------------------------------------------------------------------------*/
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header li{
    display: flex;
    align-items: flex-end;
}


header img{
    height: 81px;
    width: 54px;
}
header{
    background-color: #73221A;

    max-height: 85px;
}
header a{
    color: white;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.8rem;
}
nav a:hover{
    color: #F2C166;
}
/*----------------------------------------------------------------------------
                                HERO
----------------------------------------------------------------------------*/
.hero{
    background-image: url(../images/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 405px;
}
.hero p{
    padding-top: 150px;
    margin: 0;

    display: flex;
    justify-content: center;
    
    
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 3.6rem;
    color: white;

    text-align: center;
}
/*----------------------------------------------------------------------------
                             INFOLETTRE
----------------------------------------------------------------------------*/
.infolettre .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.infolettre button{
    height: 45px;
    width: 219px;
   
    background-color: #F25116;
    text-align: center;
    border: 0 solid;

    font-size: 1.8rem;
    font-family:"Nunito Sans", sans-serif ;
    color: white;
    
}
.infolettre a{
    text-decoration: none;
    color: white;
}
.infolettre button:hover{
    background-color: #F2C166;
}
.infolettre{
    background-color:#F2EDD5 ;
    
    height: 135px;
}
.infolettre p{
    margin-top: 0;
    padding-top: 55px;

    font-size: 30px;
    font-weight: 300;
    font-family: "Quicksand", sans-serif;
}
/*----------------------------------------------------------------------------
                          DESTINATIONS
----------------------------------------------------------------------------*/
.detente{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: auto;
    gap: 19px;
}
.decouverte{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: auto;
    gap: 19px;
}
.texte{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.produits a{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}


.produits{
    background-color: #D6D9D2;
}
.produits p{
    font-size: 1.6rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}
.detente img{
    width: 285px;
    height: 210px;

    border: solid 3px #F2EDD5;
}
.detente p{
    font-size: 2.2rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;

    margin-top: 0 ;
}
.decouverte img{
    width: 285px;
    height: 210px;

    border: solid 3px #F2EDD5;
}
.decouverte p{
    font-size: 2.2rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;

    margin-top: 0 ;
}


.produits article{
    position: relative;
}

.produits article p{
    position: absolute;
    top: 85%;

    width: 100%;

    text-align: center;
    text-decoration: none;

    font-size:1.4rem ;
    font-family:"Nunito Sans", sans-serif ;
    font-weight: 300;
    color: white;

    background-color: #F2C166;

    margin: 0;
   
    display: none;
}
.produits article:hover p{
    display: block;

}
.produits article:hover img{
   border-color: #F2C166;
}
.produits article:hover h4{
    display: block;
}
.produits article h4{
    position: absolute;
    top: 65%;

    width: 100%;

    text-decoration: none;
    text-align: center;

    color: white;
    font-size:2.0rem ;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
   
    background-color: #F2C166;

    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;

    display: none;
}

.produits button{
    border: solid #F25116 2px;
    background-color: #D6D9D2;

    height: 63px;
    width: 385px;

    font-size: 2.4rem;
    color: #F25116;
    font-weight: 600;
    font-family:"Nunito Sans", sans-serif ;

}
.produits button:hover{
    border-color: #F2C166 ;
    color: #F2C166;
}

/*----------------------------------------------------------------------------
                         NOTRE ÉQUIPE
----------------------------------------------------------------------------*/
.grille{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.nom{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 0;
}


.team p{
    font-size: 1.8rem;
    font-family:"Nunito Sans", sans-serif ;
    text-align: center;
}
.team{
    background-color: #D6D9D2;
}

.team img{
    width:385px ;
    height: 385px;

    border: solid 3px #F2EDD5;
}
.grille p{
    margin-top: 0;
}
.team img:hover{
    border-color: #F2C166;
}
/*----------------------------------------------------------------------------
                         NOUS CONTACTER
----------------------------------------------------------------------------*/
.allo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.propos p{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.0rem;
    font-weight: 600;
    font-family:"Quicksand", sans-serif ;
    text-align: center;
}


.propos button{
    height: 56px;
    width: 283px;

    background-color: #F25116;
    border: 0;

    font-size:1.8rem ;
    color: white;
    font-family: "Nunito Sans", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}
.propos button:hover{
    background-color: #F2C166;
}

.propos a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.propos{
    background-color: #D6D9D2;
    padding-bottom: 50px;
}
/*----------------------------------------------------------------------------
                                CARTE
----------------------------------------------------------------------------*/
.logo{
    width: 65px;
    height: 98px;

    position: relative;
    top: 100px;
    
}
.carte{
    background-image: url(../images/Emplacement.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 505px;
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}
/*----------------------------------------------------------------------------
                                FOOTER
----------------------------------------------------------------------------*/
footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.reseau{
    display: flex;
    align-items: center;

    gap: 10px;
}
footer .wrapper a{
    display: flex;
    justify-content: flex-start;
}
.reseau a{
    text-decoration: none;

    font-size:2.0rem ;
    color: white;
}
.reseau span{
    font-size: 4.3rem;
}
footer{
    background-color: #73221A;
    padding: 45px 117px; 
}
footer p{
    margin: 0;
    padding-top: 20px;

    font-size: 1.8rem;
    font-family:  "Nunito Sans", sans-serif;
    color: white;
}
footer a{
    display: flex;
    align-items: center;
}
.haut{
    border: solid white 3px;
    border-radius: 100%;

    text-decoration: none;
    color: white;
    font-size: 4.3rem;
    padding: 5px;
}
footer a:hover{
    color: #F2C166;
}
footer a p:hover{
    color: #F2C166;
}
.haut:hover{
    color: #F2C166;
    border-color: #F2C166;
}


/*---------------------------LISTE.HTML-------------------------------------*/
/*----------------------------------------------------------------------------
                                HEADER
----------------------------------------------------------------------------*/

/*AUCUN CHANGEMENT*/

/*----------------------------------------------------------------------------
                           PRODUITS VEDETTES
----------------------------------------------------------------------------*/
.vedette{
    background-color:#CDCDCD ;
    padding-bottom: 50px;
}
.vedette span{
    font-style: italic;
    font-weight: 600;
}
.vedette img{
    width: 400px;
    height: 500px;

    margin-top: 50px;
    margin-right: 25px;

    border: solid 3px #F2EDD5;
}
.vedette .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vedette p{
    font-family:"Nunito Sans", sans-serif ;
    font-size: 1.8rem;

}
.vedette img:hover{
    border-color: #F2C166;
}
/*----------------------------------------------------------------------------
                          LISTE SIMILÈRE
----------------------------------------------------------------------------*/
.similere{
    padding-top: 50px;
    
    background-color: #CDCDCD;
}
.similere span{
    font-style: italic;
    font-weight: 600;
}
.troistop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    padding-bottom: 50px;

}
.similere img{
    width: 360px;
    height: 300px;

    border: solid 3px #F2EDD5;
}
.similere p{
    font-size: 1.8rem;
    font-family:"Quicksand", sans-serif  ;
    max-width: 360px;
}

.troisbot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    padding-bottom: 100px;
}

.similere img:hover{
    border-color: #F2C166;
}
/*----------------------------------------------------------------------------
                                FOOTER
----------------------------------------------------------------------------*/

/*AUCUN CHANGEMENT*/

/*------------------------------FICHE.HTML-----------------------------------*/
/*----------------------------------------------------------------------------
                                HEADER
----------------------------------------------------------------------------*/

/*AUCUN CHANGEMENT*/

/*----------------------------------------------------------------------------
                                BEST CHOICE
----------------------------------------------------------------------------*/
.bestchoice .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bestchoice img{
    width: 500px;
    height: 700px;

    margin-top: 50px;
    margin-right: 25px;

    border: solid 3px #F2EDD5;
}
.bestchoice{
    background-color: #CDCDCD;
}
.bestchoice p{
    font-family:"Nunito Sans", sans-serif ;
    font-size: 1.8rem;
}
.bestchoice span{
    font-size: 2.0rem;
    font-style: italic;
    
}
.bestchoice a{
    border: solid 2px #F25116;

    padding: 10px;
    padding-left:20px ;
    padding-right: 20px;

    font-size: 1.8rem;
    font-family:"Nunito Sans", sans-serif ;
    color: #F25116;

    text-transform: uppercase;
    text-decoration: none;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bestchoice h5{
    margin-bottom: 25px;
    margin-top: 0;
}
.bestchoice .pp{
    border: 0;
    background-color: #F25116;

    color: white;

    max-width: 300px;
}
.bestchoice .bb{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.bestchoice img:hover{
    border-color: #F2C166;
}
.bestchoice a:hover{
    border-color: #F2C166;
    color: black;
}
.bestchoice .pp:hover{
    background-color: #F2C166;
    color: black;
}
/*----------------------------------------------------------------------------
                                AIMER AUSSI
----------------------------------------------------------------------------*/
.aimer{
    background-color: #CDCDCD;
    padding: 50px;
    padding-top: 100px;
}
.aimer img{
    width: 600px;
    height: 400px;

    border: #F2EDD5 solid 2px;
}
.aimer h5{
    margin-top: 0;
}
.aimer .wrapper h5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aimer .place{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.aimer article a{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    text-decoration: none;

    font-size: 1.8rem;
    color: #F25116;
}
.aimer img:hover{
    border-color: #F2C166;
}
.aimer a:hover{
    color:black;
}
/*----------------------------------------------------------------------------
                                FOOTER
----------------------------------------------------------------------------*/

/*AUCUN CHANGEMENT*/

/*----------------------------------------------------------------------------
    Aide à la mise en page
    Classes utilitaires pouvant être là ou pas (JS)
----------------------------------------------------------------------------*/
.modale{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgb(214, 217, 210,0.7);

}
.modale img{
    max-width: 600px;
    border: #F2C166 solid 2px;
}
.actif{
    display: flex;
}