/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {    
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*---------------------------INDEX.HTML------------------------------------*/
/*----------------------------------------------------------------------------
    Base
    Règles génériques de base pouvant être appliquée partout (body, a, h1-h7, etc.)
----------------------------------------------------------------------------*/
body{
    font-family:"Nunito Sans", sans-serif; 
}
h1{
    font-family: "Playfair Display", serif;
    font-weight:500 ;
    font-size: 36px;
    color: white;
}
h2{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}
h3{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 24px;
}

/*----------------------------------------------------------------------------
    Mise en page
    Grilles, wrapper, etc.
----------------------------------------------------------------------------*/
.wrapper{
    max-width: 1200px;
}
header nav{
    display: flex;
    justify-content: center;
}
header nav ul li{
    display: flex;
    align-items: flex-end;
}
/*----------------------------------------------------------------------------
    Modules
    Blocs
----------------------------------------------------------------------------*/
header img{
    height: 81px;
    width: 54px;
}
header{
    background-color: #73221A;
}
/*----------------------------------------------------------------------------
    Aide à la mise en page
    Classes utilitaires pouvant être là ou pas (JS)
----------------------------------------------------------------------------*/
